<!-- <app-root> -->
	<header>
		<div class="container">
			<div class="toolbar">
				<div class="logo_img"></div>
				<p class="title"><b>Do work that matters:</b> Design-Patterns</p>
			</div>
		</div>
	</header>
	<main>
		<div class="container">

			<div class="categories-wr">
				<div class="category-item" *ngFor="let patternItems of patternsData">
					<h2>{{patternItems.title}}</h2>
					<p *ngFor="let patternItem of patternItems.patterns">{{patternItem}}</p>
				</div>
			</div>

			<div class="result-wr">
				<p [innerHtml]="absractFabricResult"></p>
				<p [innerHtml]="builderResult"></p>
				<p [innerHtml]="prototypeResult"></p>
				<p [innerHtml]="singletonResult"></p>
				<p [innerHtml]="adapterResult"></p>
				<p [innerHtml]="bridgeResult"></p>
				<p [innerHtml]="compositeResult"></p>
			</div>
		</div>
	</main>
<!-- </app-root> -->



